
/*****************globals*************/
html {
    overflow: auto;
}
body {
    font-family: "Work Sans", Roboto;
    overflow-x: hidden;
    color: #B5B1B0;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrapper{
    display: flex;
    min-height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: space-between;
    background-color: #3C3837;
}

.comment-box {
    background-color: #f0f2f5; /* Background color of the comment box */
    border-radius: 16px; /* Rounded corners */
    padding: 12px; /* Padding inside the comment box */
    display: flex; /* Use flexbox to align items */
    margin-top: 20px;
    position: relative;
}

#logEntry {
    border: none; /* Remove textarea border */
    background-color: transparent; /* Transparent background */
    flex: 1; /* Take up remaining space */
    resize: none; /* Disable textarea resizing */
}

#log_btn {
    margin-top: unset!important;
    position: absolute; /* Position the button absolutely */
    bottom: 5px; /* Distance from the bottom */
    right: 5px; /* Distance from the right */
    width: 30px; /* Button width */
    height: 30px; /* Button height */
    background-color: transparent;
    border: none; /* Remove button border */
    border-radius: 50%; /* Make button round */
    padding: 0; /* Remove padding */
    background-image: url('/static/app/img/arrow_icon.png'); /* Background image for arrow */
    background-size:cover; /* Adjust background image size */
    background-repeat: no-repeat; /* Do not repeat background image */
    background-position: center; /* Center background image */
    cursor: pointer; /* Add cursor pointer */
}

#log_btn:hover {
     background-image: url('/static/app/img/arrow_icon_hover.png');
}


.tag.danger{
    background-color:#efa4ab;
    color:#842029;
    border-color: #f5c2c7;
}

.app-button-wrapper{
    text-align:center;
}

.qr-code svg{
    background-color: #FFFFFF;
}
.additional-link-div{
    padding: 5px;
    border-radius: 5px;
}

.additional-link{
    color:#ffffff;
}

.additional-link:hover{
    color:#bdd12f !important;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1616px) {
    .flex-wrapper{
        min-height: calc(100vh - 61px);
    }
}

@media screen and (max-width: 991px) {
    .flex-wrapper{
        min-height: calc(100vh - 66px);
    }
}

@media screen and (min-width: 1015px) and (max-width: 1340px) {
    .flex-wrapper{
        min-height: calc(100vh - 59px);
    }
}

@media screen and (min-width: 992px) and (max-width: 1014px) {
    .flex-wrapper{
        min-height: calc(100vh - 58px);
    }
}

.detail-edit{
    color:#B5B1B0; padding: 0 5px;
}

.detail-edit:hover{
    color: #888888; padding: 0 5px;
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    margin-top: 0;
    background: #3C3837;
    padding: 3em;
    line-height: 1.5em;
    box-shadow: unset;
    border: unset;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
    font-weight: bold;
}

.checked, .price span {
    color: #ff9f1a;
}

.product-title, .service-icons, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
    font-size: 120%;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.open-app, .like {
    background: #5A9BD5;
    padding: 0.75em 2.5em;
    margin-top: 15px;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.open-app:hover, .like:hover {
    background: #204a70;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
