body{
    background-color: #3C3837;
}

.flex-wrapper{
    display: flex;
    min-height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: space-between;
    background-color: #3C3837;
}

.gallery-card {
    width: 25%;
    height: auto;
}

.gallery-card.video {
    /*min-height: 290px;*/
}

.gallery-card .inner {
    margin: 15px;
}

.gallery-card .inner.img-wrapper {
    margin: auto;
    position: relative;
    background-size: cover;
}

.inner.img-wrapper.img-link.image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#service_area_filter{
    text-align: center;
}

#service_area_filter ul.nav.nav-tabs {
    display: inline-flex;
    float: none;
    vertical-align: top;
}

#service_area_filter ul.nav.nav-tabs li{
    padding: 15px;
}

#active_service{
    position: absolute;
    left: 100px;
    top: 10px;
    max-width: calc(100vw - 110px);
    border: unset;
    line-height: 32px;
}

#active_service_text{
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}

#navbarTabs a.active{
    background-color: #8d8d8d;
}

.navbar.tabcontrol{
    background-color: #3C3837;
    padding-bottom: 0;
}

.tabrow {
}
.tabrow li {
    border: 1px solid #AAA;
    border-bottom: none;
}
.tabrow a {
    color: #FFFFFF; /*#8D8D8D;*/ /*#555;*/
    text-decoration: none;
    background-color: #5B5858; /*#f9f9f9;*/
}
.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
/*.tabrow:before {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    width: 100%;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    !*border-bottom: 1px solid #AAA;*!*/
/*    z-index: 1;*/
/*}*/
/*.tabrow li:before,*/
/*.tabrow li:after {*/
/*    border: 1px solid #AAA;*/
/*    position: absolute;*/
/*    bottom: -1px;*/
/*    width: 5px;*/
/*    height: 5px;*/
/*    content: " ";*/
/*}*/
.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}


.img-link{
    position: absolute;
    flex-shrink: 0; min-width: 100%; min-height: 100%
}

.app-title{
    color:#ffffff;
    display:block;
    background-color: #000000b8;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.gallery-card .inner img {
    min-width: 100%;
    min-height: 100%;
    -webkit-mask-box-image: stretch;
    object-fit: cover;
}

.image{
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    position: absolute;
    height:100%;

    width: 100%;
}

.image img {
    min-width: 100%;
    min-height: 100%;
    -webkit-mask-box-image: stretch;
    object-fit: cover;
}

.gallery-card .headline {
    width: auto;
    position: relative !important;
}

.gallery-card {
    float: left;
    width: 23%;
    margin: 1%;
    max-width: 341.5px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.gallery-card:hover {
    cursor: pointer;
}

.gallery-card .inner {
    margin: 15px;
    height: 16vw;
}

.gallery-card.is-loading .inner a img {
    opacity: 0;
}

.gallery-card .inner a:hover {
    text-decoration: none;
}

.gallery-card .inner a img {
    opacity: 1;
}

.gallery-card .inner .caption {
    background-color: #e3e3e3;
    padding: 5px 10px;
    color: #000000;
    font-size: 1.37em;
    font-weight: 600;
    min-height: 80px;
    overflow: hidden;
}

.gallery-card .inner:hover .caption {
    background-color: #fff;
}

.gallery-card .image .tags {
    top: auto;
    left: auto;
    bottom: auto;
}

.gallery-card .inner img {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) and (min-width: 601px) {
    .gallery-container {
        padding: 105px 20px 20px 20px;
    }

    .gallery-card {
        margin: 1%;
        width: 100%;
        max-width: 100%;
        float: none;
    }

    .gallery-card .inner, .gallery-card.video .inner {
        height: auto;
        min-height: 300px;
    }

    #gallery-list .image {
        min-height: 55vw;
    }

    .gallery-card .inner .caption {
        font-size: 1.47em;
        line-height: 1.47em;
    }
}

@media (max-width: 600px) {
    .gallery-container {
        padding: 3em 0em;
    }

    .gallery-card {
        margin: 1%;
        width: 100%;
        max-width: 100%;
        float: none;
    }

    .gallery-card .inner, .gallery-card.video .inner {
        height: auto;
        min-height: 300px;
    }

    #gallery-list .image {
        min-height: 55vw;
    }

    .gallery-card .inner .caption {
        font-size: 1.47em;
        line-height: 1.47em;
    }
}

@media (max-width: 1380px) and (min-width: 992px) {
    .container-fluid{
        padding-right: 0;

    }
    .tabcontrol{
        padding-right: 0;
    }
}

.dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
}

.category_filters li input {
    margin-right: 4px;
}

.category_filters {
    padding: 2px 10px;
}