{% extends 'apps_base.html' %}
{% load static %}
{% block script %}

    <!-- Include any additional scripts or stylesheets here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications Table</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.bootstrap5.min.css">

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.responsive.min.js"></script>


    <script src="{% static 'app/js/application_table.js' %}"></script>

    <link href="{% static 'app/css/application_table.css' %}" rel="stylesheet"/>

{% endblock script %}

{% block content %}
    <div class="container-fliud" style="    padding: 3em;">
        <table id="applicationsTable" class="table compact small">
            <thead class="dataTables_scrollHead">
            <tr>
                <th>Edit</th>
                <th>Application Name</th>
                <th>Organization</th>
                <th>Regions</th>
                <th>Development Environment</th>
                <th>Code Repo</th>
                <th>Complete</th>
                <th>Active</th>
                <th>Logs</th>
                <th>AST PI</th>
                <th>AST Round</th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>
                        <a href="/admin/app/application/{{ application.pk }}/change/"><i
                                class="fa-solid fa-pen-to-square detail-edit"></i></a>
                    </td>
                    <td><a href="{% url 'detail' application.pk %}"
                           title="{{ application.name }}">{{ application.name  | truncatechars:40 }}</a></td>
                    <td>{{ application.organization   | truncatechars:40 }}</td>
                    <td> {% for region in application.region.all %}
                        {{ region.accronym }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td>{% for dev_env in application.deployment_environment.all %}
                        {{ dev_env.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td>{% if application.code_repo_url %}
                        <a href="{{ application.code_repo_url }}" target="_blank">Open</a>{% else %}
                        N/A{% endif %}</td>
                    <td>{% if application.incomplete_info %}<span class="x-symbol">X</span>{% else %}
                        <span class="checkmark-symbol"></span>{% endif %}</td>
                    <td>{% if application.active %}<span class="checkmark-symbol"></span>{% else %}
                        <span class="x-symbol"><span style="color: red;">X</span></span>{% endif %}</td>
                    <td>{% if application.log_set.exists %}<span class="checkmark-symbol"></span>{% else %}
                        <span class="x-symbol"><span style="color: red;">X</span></span>{% endif %}</td>
                    <td>{% if application.ast_pi %}
                        <a href="{% url 'scientist' post_id=application.ast_pi.id %}"
                           target="_blank">{{ application.ast_pi }}</a>{% endif %}
                    </td>
                    <td>{{ application.ast_round }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
