{% extends 'apps_base.html' %}
{% load static %}
{% block script %}

    <!-- Include any additional scripts or stylesheets here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications Table</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.bootstrap5.min.css">

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.responsive.min.js"></script>


    <script>

        $(document).ready(function () {
            $('#applicationsTable').DataTable({
                responsive: true, // Enable responsiveness
                "paging": true,           // Enable paging
                "searching": true,        // Enable search box
                "ordering": true,         // Enable sorting
                "info": true,              // Enable info display
                "lengthMenu": [10, 25, 50, 100], // Define available page lengths
                "pageLength": 100         // Set default page length to 100
            });
        });


    </script>


    <style>
        /* Customize DataTables theme */
        /* Background colors */
        body {
            background-color: #3C3837;
            color: #fff;
        }

        /* Table header */
        .dataTables_wrapper .dataTables_scrollHead {
            background-color: #B5B1B0;
            color: #fff;
        }

        .table thead th {
            color: unset;
        }

        .table tr:hover {
            background-color: unset;
        }

        .table thead th:hover {
            background-color: #fff;
            color: #B5B1B0;
        }

        /* Table body */
        .dataTables_wrapper .dataTables_scrollBody {
            background-color: #B5B1B0;
            color: #fff;
        }

        /* Table footer */
        .dataTables_wrapper .dataTables_scrollFoot {
            background-color: #3C3837;
            color: #fff;
        }

        /* Pagination */
        .dataTables_paginate .paginate_button {
            background-color: #204a70;
            color: #fff;
        }

        /* Alternating row background colors */
        .dataTables_wrapper tbody tr:nth-child(odd) {
            background-color: #fff;
        }

        .dataTables_wrapper tbody tr:nth-child(even) {
            background-color: #b5b1b04a;
        }

        .checkmark-symbol::before {
            content: '\2713';
            color: green;
            font-size: 20px;
            font-weight: 700;
        }

        .x-symbol {
            color: red; /* Change the color to red */
            font-size: 20px;
            font-weight: 700;
        }

        .table {
            background-color: #fff;
            color: #363636;
            margin-bottom: 1.5rem;
            width: 100%;
        }

        /* Adjust pagination container */
        .dataTables_wrapper .dataTables_paginate {
            float: right;
            text-align: right;
            margin-top: 10px;
        }

        /* Adjust pagination buttons */
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            margin-left: 5px;
        }

        .dataTables_filter {
            text-align: right;
        }
/* Default sorting icon (no sorting applied) */
.sorting::after {
    content: "\25B2\25BC"; /* Unicode characters for caret-up and caret-down */
    margin-left: 5px; /* Adjust as needed */
    opacity: 0.5; /* Reduced opacity */
    font-size: 0.8em; /* Smaller font size */
}
        /* Sorting icon for ascending order */
.sorting_asc::after {
    content: "\25B2"; /* Unicode character for caret-up */
    margin-left: 5px; /* Adjust as needed */
}

/* Sorting icon for descending order */
.sorting_desc::after {
    content: "\25BC"; /* Unicode character for caret-down */
    margin-left: 5px; /* Adjust as needed */
}




        @media (max-width: 991px) {
            .table.compact {
                font-size: 13px;
            }
        }

        /* Hide some columns on smaller screens */
        @media (max-width: 768px) {
            #applicationsTable th:nth-child(4),
            #applicationsTable td:nth-child(4),
            #applicationsTable th:nth-child(5),
            #applicationsTable td:nth-child(5) {
                display: none;
            }
        }

        /* Adjust font size and padding for smaller screens */
        @media (max-width: 576px) {
            #applicationsTable th,
            #applicationsTable td {
                font-size: 12px;
                padding: 5px;
            }
        }


    </style>
{% endblock script %}

{% block content %}
    <div class="container-fliud" style="    padding: 3em;">
        <table id="applicationsTable" class="table compact small">
            <thead class="dataTables_scrollHead">
            <tr>
                <th>Name</th>
                <th>Organization</th>
                <th>Region</th>
                <th>Development Environment</th>
                <th>Code Repo</th>
                <th>Complete</th>
                <th>Active</th>
                <th>Logs</th>
                <th>AST PI</th>
                <th>AST Round</th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td><a href="{% url 'detail' application.pk %}"
                           title="{{ application.name }}">{{ application.name  | truncatechars:40 }}</a></td>
                    <td>{{ application.organization   | truncatechars:40 }}</td>
                    <td> {% for region in application.region.all %}
                        {{ region.name | truncatechars:25 }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td>{{ application.deployment_environment }}</td>
                    <td>{% if application.code_repo_url %}
                        <a href="{{ application.code_repo_url }}" target="_blank">Open</a>{% else %}
                        N/A{% endif %}</td>
                    <td>{% if application.incomplete_info %}<span class="x-symbol">X</span>{% else %}
                        <span class="checkmark-symbol"></span>{% endif %}</td>
                    <td>{% if application.active %}<span class="checkmark-symbol"></span>{% else %}
                        <span class="x-symbol"><span style="color: red;">X</span></span>{% endif %}</td>
                    <td>{% if application.log_set.exists %}<span class="checkmark-symbol"></span>{% else %}
                        <span class="x-symbol"><span style="color: red;">X</span></span>{% endif %}</td>
                    <td>{% if application.ast_pi %}
                        <a href="{% url 'scientist' post_id=application.ast_pi.id %}"
                           target="_blank">{{ application.ast_pi__name }}</a>{% endif %}
                    </td>
                    <td>{{ application.ast_round }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
