<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load socialaccount %}
    {% load i18n %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1CN92MJ3K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-J1CN92MJ3K');
    </script>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"
    />
    <title>{% block title %}SERVIR Application Management System - SAMS{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel='icon' href="{% static 'app/img/favicon.ico' %}" type='image/x-icon'/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app/img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/app/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'app/css/bulma.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'app/css/App.css' %}" rel="stylesheet"/>
    <link href="{% static 'app/css/card.css' %}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
            integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
            integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'app/js/navloader.js' %}"></script>
<script>
        $(document).ready(function() {
            $('#generalFeedbackForm').on('submit', function(event) {
                event.preventDefault();
                var formData = {
                    feedback: $('#feedback').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                };
                $.ajax({
                    type: 'POST',
                    url: '{% url "general-feedback-submit" %}',
                    data: formData,
                    success: function(response) {
                        $('#feedbackModal').modal('hide');
                        alert(response.message);
                    },
                    error: function(response) {
                        alert('An error occurred: ' + response.responseJSON.message);
                    }
                });
            });
        });
    </script>
    {% block script %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27020636-4"></script>
    <script>
        $(document).ready(function () {
            setActive("{{ page }}");
        });
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-27020636-4');
    </script>
<style>
    .modal{
        z-index: 9999;
    }
    .modal .btn{
    background: #5A9BD5;
    padding: 0.75em 2.5em;
    margin-top: 15px;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
    .modal-title, .modal-body{
        color: #5A9BD5;
    }
    .modal .close{
            background: #5A9BD5;
    }

</style>

</head>
<body>
<header>
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="{% if page == 'menu-home' %}#home {% else %} / {% endif %}" class="navbar-brand">
                <img src="{% static 'app/img/logo_sams_white.png' %}" alt="SAMS"/>
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <p>
                        <a aria-current="page" id="menu-home" class="nav-link"
                           href="{% url 'home' %}">SERVIR Applications Management System</a>
                    </p>
                    <p class="display-name separator">|</p>
                    <p>
                        <a aria-current="page" id="menu-about" class="nav-link"
                           href="{% url 'about' %}">About</a>
                    </p>
                </div>
                <div class="navbar-nav">

                    {% if user.is_authenticated %}
                        <p class="display-name welcome">Welcome, {{ user.username }}</p>
                        <p class="display-name separator"> |</p>
                        <p><a class="nav-link" href="{% url 'account_logout' %}?next={{ request.path }}">Log Out</a></p>
                    {% else %}
                        <form method="post" action="{% provider_login_url 'google' %}">
                            {% csrf_token %}
                            <div class="customGPlusSignIn" onclick="document.forms[0].submit();">
                                <span class="nav-link" style="cursor: pointer;">Login with Google</span>
                            </div>

                        </form>
                    {% endif %}
                {% if request.user.is_staff %}

                     <p class="display-name separator"> |</p>
                            <p><a class="nav-link" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                            General Feedback
                        </a>
                    </p>
                {% endif %}
                    {% for group in user_groups %}
                        {% if group.name == 'scoscience' %}
                            <p class="display-name separator"> |</p>
                            <p><a class="nav-link" href="{% url 'app-table' %}">App Table</a></p>
                            <!-- Add other links specific to this group if needed -->
                        {% endif %}
                    {% endfor %}
                    {% if request.user.is_staff %}
                        <p class="display-name separator">|</p>
                        <a class="nav-link" id="menu-help" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="flex-wrapper">
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">General Feedback</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="generalFeedbackForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="feedback">Your Feedback</label>
                        <textarea class="form-control" id="feedback" name="feedback" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
    {% block content %}{% endblock %}
    <div class="d-flex flex-column">
        <footer id="footer">
            <div class="climate-copy">
                <a href="https://apps.servirglobal.net">SAMS</a>
                {#            <span>© SERVIR Global</span>#}
            </div>
            <div class="ml-auto climate-power">
                {#            <span>Powered by </span>#}
                <a href="https://servirglobal.net">
                    <img
                            src="{% static 'app/img/servir_global_full_logo_white.png' %}"
                            alt="SERVIR Global"
                            style="margin-left: 8px; max-height: 21px;"
                    />
                </a>
            </div>

        </footer>
    </div>
</div>
{% block item-template %}{% endblock %}
</body>
</html>