{% extends "apps_base.html" %}
{% load static %}
{% block title %}ClimateSERV - Map{% endblock %}
{% block script %}
    <link href="{% static 'app/css/home.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">

        {% for app in apps %}

            <div id="app_{{ app.id }}" class="gallery-card ember-view">
                <div class="inner img-wrapper" style="background-image:url({{ app.icon.url }})">
                    <a href="#" class="img-link">
                        <div class="image">
                            <p class="app-title">{{ app.name }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
