{% extends "apps_base.html" %}
{% load static %}
{% block title %}SERVIR Application Management System - SAMS - Detail{% endblock %}
{% block script %}
   <style>
        .hidden { display: none; }

        #title_class {
            padding-top: 1.5rem;
            width: 75%;
            margin: auto;
            font-size: 2.5rem;
            font-family: Arial, serif;
            text-shadow: black 0.1em 0.1em 0.2em;
            color: white;
        }
        .vertical_center {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 18px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
    </style>
    <script>
        function toggleOtherExplanation() {
            var otherExplanation = document.getElementById('otherExplanation');
            var roleSelect = document.getElementById('id_role');
            console.log("changed");
            if (roleSelect.value === 'Other collaborator') {
                otherExplanation.classList.remove('hidden');
            } else {
                otherExplanation.classList.add('hidden');
            }
        }

        $(document).ready(function () {

            var roleSelect = $('#id_role');
            roleSelect.on('change', toggleOtherExplanation);
            toggleOtherExplanation();  // Initialize on page load

        });

    </script>

{% endblock %}
{% block content %}
    <br>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Thank You for Registering</h2>
                <p class="card-text">Please provide additional information to complete your registration.</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="role">Role</label>
                        {{ form.role }}
                    </div>
                    <div id="otherExplanation" class="form-group hidden" >
                        <label for="id_other_explanation">Explanation</label>
                        {{ form.other_explanation }}
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin: 10px 0;">Submit</button>
                </form>
                <hr>
                <p class="card-text">We will use this information to add you to specific role(s) that you may require
                    to interact with this application. <span style="font-weight: bold"> Please note, if you are not associated with SERVIR,
                    registration is not required to browse the apps in this inventory and access the public code
                    repositories behind them.</span></p>
            </div>
        </div>
    <br>
    </div>
{% endblock %}