{% extends "apps_base.html" %}
{% load static %}
{% block title %}App Center - Detail{% endblock %}
{% block script %}
    <link href="{% static 'app/css/notifications.css' %}?v={{ version }}" rel="stylesheet"/>
    <link href="{% static 'app/css/noscript.css' %}?v={{ version }}" rel="stylesheet"/>

{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="main">
            <div class="main">
                <div class="wrapper row">
                    <div class="row">
                        <div class="col-12">
                            {% if request.user.is_authenticated and is_approver and request.extras %}
                                {% if request.extras.new_users or request.extras.unresolved_feedback %}
                                    <div class="alert alert-info accordion" role="alert" id="new_user_alert">
                                {% endif %}
                            {% if request.extras.new_users %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#newUsersCollapse" aria-expanded="true"
                                                aria-controls="newUsersCollapse">
                                            New Users in the Last 7 Days
                                        </button>
                                    </h2>
                                    <div id="newUsersCollapse" class="accordion-collapse collapse show"
                                         data-bs-parent="#new_user_alert">
                                        <ul>
                                            {% for user in request.extras.new_users.all %}
                                                <li>
                                                    {{ user.username }} - <a
                                                        href="{% url 'admin:auth_user_change' user.id %}">Edit</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            {% endif %}

                            <!-- Unresolved Feedback Section -->
                            {% if request.extras.unresolved_feedback %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#unresolvedFeedbackCollapse" aria-expanded="true"
                                                aria-controls="unresolvedFeedbackCollapse">
                                            Unresolved Feedback
                                        </button>
                                    </h2>
                                    <div id="unresolvedFeedbackCollapse" class="accordion-collapse collapse show"
                                         data-bs-parent="#new_user_alert">
                                        <ul>
                                            {% for feedback in request.extras.unresolved_feedback %}
                                                <li>
                                                    {% if feedback.application %}
                                                    <span style="font-weight: bold">{{ feedback.application.name }} </span>
                                                    {% endif %}<span style="float:right;">{{ feedback.date }}</span><br style="clear:both;"> <p style="margin:0;">{{ feedback.feedback_entry }}
                                                    <br><a
                                                        href="{% url 'admin:app_feedback_change' feedback.id %}" style="float: right">Edit</a><br style="clear:both;">
                                                </p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if request.extras.new_users or request.extras.unresolved_feedback %}
                                </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="wrapper row">
                    <div class="row">
                        <div class="col-12">
                            <p class="m10">
                                SERVIR is a joint initiative of NASA, USAID, and leading geospatial organizations in
                                Asia,
                                Africa, and Latin America. The SERVIR program partners with countries and organizations
                                to address critical challenges in Agriculture and Food Security, Ecosystem and Carbon
                                Management, Water Security, Weather & Climate Resilience and Air Quality and Health.

                            </p>
                            <p style="text-align: center; margin:40px;">For more information on the SERVIR program,
                                visit
                                <a href="https://servirglobal.net" title="SERVIR Global">
                                    https://servirglobal.net</a><br/><br/>
                                <a
                                        href="//usaid.gov/"
                                        target="_blank"
                                        title="USAID_seal_fullname_surrounding_USAID_shield_with_handclasp_USAID_blue_red_on_right_with_FromTheAmericanPeople_tagline">
                                    <img src="{% static 'app/img/usaid.png' %}"
                                         alt="USAID_seal_fullname_surrounding_USAID_shield_with_handclasp_USAID_blue_red_on_right_with_FromTheAmericanPeople_tagline"></a>

                                <a
                                        href="//nasa.gov/"
                                        target="_blank"
                                        title="NASA_blue_circle_with_stars_red_vector_upward_right_white_NASA_with_orbitcircle">
                                    <img src="{% static 'app/img/nasa.png' %}"
                                         alt="NASA_blue_circle_with_stars_red_vector_upward_right_white_NASA_with_orbitcircle"></a>
                                <a
                                        href="//servirglobal.net/"
                                        target="_blank"
                                        title="SERVIR Global">
                                    <img src="{% static 'app/img/Servir_Logo_Flat_Color_Stacked_Small.png' %}"
                                         alt="SERVIR Global"></a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                The SERVIR Project, NASA, and USAID make no express or implied warranty as to the
                                accuracy
                                of the map or as to the merchantability or fitness for a particular purpose of the data
                                or
                                applications in this inventory. Neither the US Government nor its contractors shall be
                                liable for special, consequential or incidental damages attributed to this data.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}